body {
    font-size: 14px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 50px auto 20px;
    width: 720px;
    background: #fcfcfc;
    line-height: 1.45em;
}

a {
    color: #555;
}

a:hover {
    color: #000;
}

ul {
    margin: 0 20px;
    padding: 0;
}

div.code {
    border: 1px solid #ccc;
    background: #eee;
    margin: 10px 0 10px 0;
    padding: 10px;
    width: 720px;
}